<div class='text-center tela-cheia tela-1 container'>
    <a href="adicao-lista">
        <button type="button" class="btn btn-light w-50 mt-4" style="border-radius:10px;color:var(--c1)">LISTA DE COMPRAS</button>
    </a>
    <a href="adicao-estoque">
        <button type="button" class="btn btn-light w-50 mt-4" style="border-radius:10px;color:var(--c1)">ESTOQUE</button>
    </a>
</div>