/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 :root {
    --c1: #42f09d;
    --c2: #3ef6be;
  }

   a {
   text-decoration: none !important;
}

input {
   text-align:center;
}

 .tela-1 {
    background: rgb(66,240,157);
    background: linear-gradient(90deg, var(--c1) 0%, var(--c2) 100%);
 }

 .tela-cheia {
   height: 100vh;
 }

 .icon {
    border-radius: 25px;
    background: rgb(255, 255, 255);
    width: max-content;
    padding: 2rem;
    padding-right: 3rem;
}

.container{
    display: grid;
    align-items: center;
}